# ── Base de données ────────────────────────────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme_en_prod
POSTGRES_DB=timetrack

# ── JWT ────────────────────────────────────────────────────────────────────────
JWT_SECRET=votre_secret_jwt_ultra_long_et_securise
JWT_EXPIRES_IN=7d

# ── Nginx ──────────────────────────────────────────────────────────────────────
# Port exposé sur la machine hôte (ex: 80 en prod, 8080 en local)
HOST_PORT=80
